@using project1.ViewModel
@model List<AutherVM>
@section Title {
    Authers Page
}
@section HPath {
    Authers Page

}

<div class="card col-12">
    <div class="card-header">
        <h3 class="card-title">All Authers</h3>
        <a asp-controller="Authers" asp-action="Create" class="btn btn-primary float-right">Create new Auther</a>

    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>

                    <th style="width:10px">#</th>
                    <th>Auther</th>
                    <th>Action</th>


                </tr>
            </thead>
            <tbody>
                @if (!Model.Any())
                {
                    <tr>
                        <td colspan="3">
                            <div class="card card-info">
                                <div class="card-header">
                                    <h3 class="card-title">Ther is No Authers</h3>
                                </div>

                            </div>
                        </td>
                    </tr>
                }
                else
                {
                    @foreach (var auther in Model)
                    {
                        <tr>
                            <td>@auther.Id</td>
                            <td>@auther.Name</td>
                            <td>
                                <a asp-action="Edit" asp-controller="Authers" asp-route-Id="@auther.Id" class="btn btn-dark"> Edit</a>
                                <a asp-action="Detales" asp-controller="Authers" asp-route-Id="@auther.Id" class="btn btn-info"> Detales</a>
                                <a href="#" data-id="@auther.Id" class="btn btn-danger js-delete" data-toggle="modal" data-target="#exampleModalCenter"> Delete</a>


                            </td>


                        </tr>

                    }

                }

            </tbody>
        </table>
    </div>

</div>



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger shadow ">
                <h5 class="modal-title " id="exampleModalCenterTitle">You want to delete this category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-danger">
                Are You sure..!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger js-sdelete" data-dismiss="modal">Delete</button>

            </div>
        </div>
    </div>
</div>
@section js {

    <script>
        let id = 0;
        document.querySelectorAll(".js-delete").forEach((btn) => {
            btn.addEventListener("click", () => {
                const id2 = btn.dataset.id;
                id = id2;
            });
        });

        document.querySelector(".js-sdelete").addEventListener("click", async () => {

            const response = await fetch(`/Authers/Delete/${id}`, {
                method: "POST"
            });

            if (response.ok) {
                const deleteBtn = document.querySelector(`.js-delete[data-id="${id}"]`);
                if (deleteBtn) {
                    deleteBtn.closest("tr").remove();
                }

                toastr["error"]("your Auther is Deleted..")

                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }

            }
        });


    </script>
}